@tailwind base;
@tailwind components;
@tailwind utilities;

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

.scroll {
  scroll-behavior: smooth;
}

.height-layout {
  height: calc(100vh-58px);
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 1px grey;  */
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaa; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #777; 
}

img {
  object-fit: cover;
}
