@tailwind base;
@tailwind components;
@tailwind utilities;

html,body,#root {
  width: 100%;
  height: 100vh;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

.scroll {
  scroll-behavior: smooth;
}

.height-layout {
  height: calc(100vh-57px);
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 1px grey;  */
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaa; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #777; 
}

img {
  object-fit: cover;
}

.react-images__view {
  display: flex;
  justify-content: center;
}


.avtive-react:target>.show-react {
  display: flex;
}

.show-react {
  display: none;
}